body {
  margin: 0;
  font-family: Helvetica;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.user-zone {
  display: flex;
  flex-direction: column;
  align-items:center;
}

button {
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: large;
  font-family: Helvetica;
  padding: 3px 10px 3px 10px;
  margin: 2px;
}

button:hover {
  cursor: pointer;
}

a:link, a:visited {
  text-decoration: none;
  color: white;
}